venv/
env/
ENV/
*.egg-info/
*.eggs/

# Системные файлы
*.pyc
*.pyo
__pycache__/
*.pyd

# Конфигурационные файлы
*.sqlite3
*.db

# Директории с медиаконтентом и статики
/media/
staticfiles/


# Секретные ключи и настройки
*.env
*.local

# Миграции
migrations/

# Файлы настройки среды
*.env
.env