<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Product List</h1>
    <ul id="product-list"></ul>
    <div id="pagination">
        <button id="prev-page">Previous</button>
        <span id="page-info">Page 1 of 1</span>
        <button id="next-page">Next</button>
    </div>
    <a href="create_product.html">Create New Product</a>
    <script src="../js/script_list.js"></script>
</body>
</html>